@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
/* Primary Color */
$bright-orange: hsl(31, 77%, 52%);
$dark-cyan:  hsl(184, 100%, 22%);
$very-dark-cyan: hsl(179, 100%, 13%);

/* Neutral Color */
$transparent-white: hsla(0, 0%, 100%, 0.75);
$very-light-gray:hsl(0, 0%, 95%);


$font-size: 15px;

$head-font-family: 'Big Shoulders Display', cursive;
$primary-font-family: 'Lexend Deca';